html, body {
    margin: 0;
    padding: 10px;
}

.nav, .nav-items {
    display: flex;
    flex-direction: row;
}

.nav {
    justify-content: space-between;
}

.nav-items {
    list-style-type: none;
    gap: 16px;
}

.nav-img {
    width: 50px;
    height: 50px;
}